@use "../../styles/variables"as *;

.product-feature {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    &__icon {
        width: 42px;
        height: 42px;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;

        border-radius: 12px;

        background: $orange-light;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__content {
        padding-top: 1px;
    }

    &__title {
        margin-bottom: 6px;
        color: $black;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.35;
        letter-spacing: -0.02em;
    }

    &__description {
        max-width: 390px;
        color: $text-secondary;
        font-size: 14px;
        line-height: 1.6;
    }
}